[submodule "ros_bridge"]
	path = src/carla_ros_bridge/src/ros-bridge
	url = https://github.com/fahmyadan/ros-bridge.git
	branch = master

[submodule "astuff_sensor_msgs"]
	path = src/carla_ros_bridge/src/astuff_sensor_msgs
	url = https://github.com/astuff/astuff_sensor_msgs.git
	branch = master
